<article class="home-page">
  <div class="search-field">
    <form name="form" ng-submit="findCity()">
      <label>
        <input type="text" placeholder="search city..." name="cityName" ng-model="city.name" required>
      </label>
    </form>
  </div>
  <div class="checked-city">
    <h3>Next days - {{forecast.data.city.name}}</h3>
    <ul class="future-weather">
      <li ng-repeat="forecast in forecast.data.list | filter : '12:00:00'">
        <div>
          <img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png">
          <span>{{genericServices.changeDataView(forecast.dt_txt)}}</span>
        </div>
        <table>
          <tr>
            <td>
              <span class="max-temperature">{{genericServices.sliceNumber(forecast.main.temp_max)}} &deg;C</span>
              <span class="min-temperature">{{genericServices.sliceNumber(forecast.main.temp_min)}} &deg;C</span>
              <span>{{forecast.weather[0].description}}</span>
            </td>
          </tr>
          <tr>
            <td>{{forecast.wind.speed}} m/s</td>
          </tr>
          <tr>
            <td>
              <span>clouds: {{forecast.clouds.all}}%, </span>
              <span>{{forecast.main.pressure}} hpa</span>
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
  <div class="cities-list">
    <div class="city one-element" ng-repeat="city in weatherData.data.list" ng-click="getForecast(city.id)">
      <div class="city-header">
        <h3>{{city.name}}</h3>
        <button id="item_{{city.id}}" ng-click="saveCity(city.id)">compare</button>
      </div>
      <div class="temperature">
        <img src="http://openweathermap.org/img/w/{{city.weather[0].icon}}.png">
        <span>{{genericServices.sliceNumber(city.main.temp)}} &deg;C</span>
      </div>
      <div class="weather-info">
        <table class="city-weather">
          <tr>
            <td>Wind</td>
            <td>{{city.wind.speed}} m/s</br>{{genericServices.getWindDirection(city.wind.deg)}}</td>
          </tr>
          <tr>
            <td>Cloudiness</td>
            <td>{{city.weather[0].description}}</td>
          </tr>
          <tr>
            <td>Pressure</td>
            <td>{{city.main.pressure}} hpa</td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td>{{city.main.humidity}} %</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="button-wrapper">
      <button id="loadMore" class="load-more-btn" ng-click="getMoreCities()">Load more</button>
    </div>
  </div>
</article>