<article class="comparing-items">
  <div class="sort">
    <button ng-click="sortBy('city.data.city.name')">Sort by name</button>
    <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
    <button ng-click="sortBy('city.data.list.main.temp_max')">Sort by temperature</button>
    <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
  </div>
  <div class="cities-list">
    <div class="city" ng-repeat="city in compareData | orderBy:propertyName:reverse">
      <div class="city-header">
        <h3>{{city.data.city.name}}</h3>
        <button data-id="id_{{city.data.city.id}}" ng-click="removeItem(city.data.city.id, city)" class="button-delete-item">remove</button>
      </div>
      <ul class="future-weather">
        <li ng-repeat="item in city.data.list | filter : '12:00:00'">
          <div>
            <img src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png">
            <span>{{generic.changeDataView(item.dt_txt)}}</span>
          </div>
          <table>
            <tr>
              <td>
                <span class="max-temperature">{{generic.sliceNumber(item.main.temp_max)}} &deg;C</span>
                <span class="min-temperature">{{generic.sliceNumber(item.main.temp_min)}} &deg;C</span>
                <span>{{item.weather[0].description}}</span>
              </td>
            </tr>
            <tr>
              <td>{{item.wind.speed}} m/s</td>
            </tr>
            <tr>
              <td>
                <span>clouds: {{item.clouds.all}}%, </span>
                <span>{{item.main.pressure}} hpa</span>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</article>