.comparing-items{
  width: 90vw;
  margin: 0 auto;
  clear: both;
  border-top: solid 1px #4c4c4c;
  position: relative;

  .sort{
    display: flex;
    width: 90%;
    margin: 20px auto 0;

      button{
       padding: 10px;
       border: none;
       border-radius: 5px;
       background: #f0f0f0;
       margin: 0 15px;
       outline: none;
     }
    button:active{
      background: #cccccc;
    }
  }
  .cities-list{
    @extend .checked-city;
    width: 90% !important;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    position: static !important;

    .city{
      width: 30%;
      margin: 30px 0 30px;

      .temperature{
        display: flex;
        align-items: center;
      }
    }
  }
}