header{
  width: 100%;
  height: 70px;
  background: #d2cfcf;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  .logo{
    width: 90vw;
    margin: 0 auto;

    h1{
      display: block;
    }
  }
  .search{
    margin-right: 20px;
    input{
      outline: none;
    }
  }
}