.home-page{
  width: 90vw;
  margin: 0 auto;
  clear: both;
  border-top: solid 1px #4c4c4c;
  position: relative;

  .search-field{
    margin-top: 25px;

    input{
      outline: none;
      border-radius: 20px;
      padding: 6px;
    }
  }
  .cities-list{
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .city{
      width: 26%;
      margin: 30px 0 30px;
      border: 1px solid #ccc;

      .city-header{
        @extend .city-header;
        .selected{
          @extend button;
          background: green;
          content: '&#10004;';
        }
      }
      .temperature{
        display: flex;
        align-items: center;
      }
      .weather-info{
        margin-top: 5px;
        .city-weather{
          width: 100%;

          tr{
            padding: 5px;
          }
          tr:nth-child(2n){
            background: #f0f0f0;;
          }
        }
      }
    }
    .button-wrapper{
      width: 100%;
      margin: 35px auto;

      .load-more-btn{
        outline: none;
        width: 30%;
        background: #1e90ff;
        border: 1px solid #656461;
        border-radius: 5px;
        color: #fff;
        font-size: 20px;
        padding: 5px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  .inactive{
    display: none;
  }
}