@import "font-awesome";
* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100vw;
  font-family: Tahoma;
  font-size: 12px;

  .main-nav{
    display: block;
    width: 90vw;
    margin: 12px 100px 0;

    a{
      display: inline-block;
      text-decoration: none;
      color: #000000;
      border: solid 1px;
      padding: 5px 20px;
      position: relative;
      margin-bottom: -1px;
      border-bottom-color: #fff;
      border-radius: 5px 5px 0 0;
      z-index: 1;
    }
  }
  .city-header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    h3{
      margin: 8px 8px 0 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    button{
      border: solid 1px #cccccc;
      outline: none;
      border-radius: 5px;
      padding: 4px 5px;
      background: #eaeaea;
      margin: 8px 8px 0 8px;
      cursor: pointer;
    }
    .checked-item{
      display: none;
    }
    .selected{
      @extend button;
      background: green;
      content: '&#10004;';
    }
  }
  table{
    td{
      padding: 3px;
    }
  }
  .future-weather{
    margin-top: 10px;

    li {
      list-style: none;
      border-bottom: 1px solid #cccccc;
      display: flex;
      flex-flow: row;

      &:first-child {
        border-top: 1px solid #cccccc;
      }

      div {
        width: 30%;
        display: flex;
        flex-flow: row;
        align-items: center;
      }
      table {
        width: 70%;
      }
    }
  }
  .max-temperature{
    box-sizing: border-box;
    background: orange;
    border-radius: 3px;
    padding: 2px 5px;
  }
  .min-temperature{
    @extend .max-temperature;
    background: dodgerblue;
  }
  .checked-city{
    position: fixed;
    right:50px;
    width: 25%;
  }
  footer{
    width: 100%;
    margin-top: 60px;

    section{
      border-top: 1px solid #cccccc;
      width: 90vw;
      margin: 0 auto;
      padding: 40px 0;
    }
  }
  @media screen and (max-width: 1000px) {
    .home-page .cities-list{
      width: 60%;
    }
    .home-page .cities-list .city{
      width: 40%;
      justify-content: space-around;
    }
    .checked-city{
      width: 30%;
    }
  }
  @media screen and (max-width: 900px) {
    .comparing-items .cities-list .city{
      width: 45%;
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 800px) {
    .home-page .cities-list .city{
      width: 45%;
      justify-content: space-around;
    }
    .checked-city{
      width: 30%;
    }
  }
  @media screen and (max-width: 760px) {
    .home-page .cities-list .city{
      width: 45%;
      justify-content: space-around;
    }
    .checked-city{
      width: 30%;
    }
  }
  @media screen and (max-width: 600px) {
    .home-page .cities-list{
      width: 40%;
    }
    .home-page .cities-list .city{
      width: 90%;
      justify-content: space-around;
    }
    .checked-city{
      width: 50%;
    }
  }
  @media screen and (max-width: 500px) {
    .home-page .cities-list{
      width: 100%;
    }
    .home-page .cities-list .city{
      margin: 20px auto;
      width: 70%;
      justify-content: space-around;
    }
    .checked-city .one-element{
      display: none;
    }
    .comparing-items .cities-list .city{
      margin: 20px auto;
      width: 70%;
      justify-content: space-around;
    }
  }

}

@import "header";
@import "home-page";
@import "favorites";